<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippet Format="1.0.0">
	<Header>
		<Title>ModelState Is Not Valid</Title>
		<Shortcut>modelinvalid</Shortcut>
		<Description>Code snippet for !ModelState.IsValid</Description>
		<Author>Paul Sanchez</Author>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>		
		<Code Language="csharp">
		<![CDATA[if(!ModelState.IsValid) return BadRequest(ModelState);$end$]]>
		</Code>
	</Snippet>
</CodeSnippet>