<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippet Format="1.0.0">
	<Header>
		<Title>private bool method</Title>
		<Shortcut>mpbool</Shortcut>
		<Description>Code snippet for Creating a private method that returns bool</Description>
		<Author>Paul Sanchez</Author>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="csharp">
			<![CDATA[
			private bool methodName()
			{
			 
			}]]>
		</Code>
	</Snippet>
</CodeSnippet>