<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippet Format="1.0.0">
	<Header>
		<Title>public async unit Test method</Title>
		<Shortcut>mtestasync</Shortcut>
		<Description>Code test method in nunit</Description>
		<Author>Paul Sanchez</Author>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	
	<Snippet>
		<Code Language="csharp">
   <![CDATA[[Test]
			public async Task $end$_ShoudlReturn_()
			{				
				
			}]]>
		</Code>
	</Snippet>
</CodeSnippet>